$font-primary: 'Poppins',Arial, sans-serif;
// $primary: #fc7fb2;
$primary: #4723D9;
$black: #000;
$white: #fff;

.ftco-navbar-light {
	background: #fff !important;
	z-index: 3;
	padding: 10px 10px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);
	box-shadow: 0px 5px 20px -17px rgba(0,0,0,0.34);

	.navbar-brand {
		color: $black;
        background: none;
		text-transform: uppercase;
		font-weight: 700;
		&:hover, &:focus{
			color: $black;
		}
	}

	.navbar-nav {
		> .nav-item {
			> .nav-link {
				font-size: 14px;
				padding-top: 1.2rem;
				padding-bottom: 1.2rem;
				padding-left: 20px;
				padding-right: 20px;
				font-weight: 400;
				color: lighten($black,20%);
                background: none;
				position: relative;
				&:hover {
					color: $primary;
				}
				opacity: 1!important;
			}

			.dropdown-menu{
				border: none;
				background: $white;
				color: $black;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				border-radius: 4px;
				padding: 0;
				.dropdown-item{
					font-size: 12px;
					color: $black;
					&:hover, &:focus{
						background: $primary;
						color: $white;
					}
				}
			}


			&.cta {
				> a {
					color: $white;
					background: $primary;
					border-radius: 0px;
				}
			}
			&.active {
				> a {
                    border-bottom: 1px solid $primary;
                    box-shadow: 0 30px 30px 0 #4723d925;
					color: $primary;
				}
			}
		}
	}

	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:focus{
			outline: none !important;
		}
	}
}


.social-media{
	p{
		a{
			border: 1px solid lighten($black,90%);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 4px;
			span{
				color: lighten($black,30%);
			}
			&:hover{
				background: $primary;
				border-color: $primary;
				span{
					color: $white;
				}
			}
		}
	}
}

