  <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">Yazh-E</a>
    <div class="social-media order-lg-last">
      <p class="mb-0 d-flex">
        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
        <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
      </p>
    </div>
    <ul class="navbar-nav ml-auto mr-md-3">
      <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Work</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      <li class="dropdown-menu"><a href="#" class="dropdown-item">Contact</a></li>
    </ul>

    <ul class="dropdown-menu ml-auto mr-md-3">
      <li class="dropdown-item active"><a href="#" class="nav-link">Home</a></li>
      <li class="dropdown-item"><a href="#" class="nav-link">About</a></li>
      <li class="dropdown-item"><a href="#" class="nav-link">Work</a></li>
      <li class="dropdown-item"><a href="#" class="nav-link">Blog</a></li>
      <li class="dropdown-item"><a href="#" class="nav-link">Contact</a></li>
    </ul>

  </div>
</nav>
